body{
	background:#efecea;
}
#logo {
	height: 40px;
	width: 136px;
	background-image: url(../images/Scenario1-1.png);
	background-size:136px 40px;
	background-repeat:no-repeat;

	
}

.navbar {
background-color:#fff;
}




.form-container{
background-color:#fff;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #efecea;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align:center;
}

code {
  font-size: 80%;
}


.control-label{
font-weight:normal;
font-size:12px;
color:#666;
}
.form-control {
	border-radius: 0px;
	background-color:#efecea;
}
.DD {
	width: 28px;
	margin-top: -27px;
	margin-left: 80px;
}

.MM {
	width: 28px;
	margin-top: -34px;
	margin-left: 120px;
}

.YY {
	width: 28px;
	margin-top: -34px;
	margin-left: 160px;
}










@media (min-width: 768px) {

#logo {
	height: 80px;
	width: 273px;
	background-image: url(../images/Scenario1-1.png);
	background-size:273px 80px;
	background-repeat: no-repeat;
	
}

.navbar {
	min-height:80px !important;
}



.navbar-right{
	margin-top:20px !important;
}

.navbar-default .navbar-right > li > a{
	color: green;
}


.form-head{
	border-bottom:1px dashed #000;
	margin-bottom:15px;
	font-weight:bold;
	font-size:18px;
}

.right-dotted{
	border-right:1px dashed #000;
}

.col-md-2a {
	padding-top: 15px;
	width: 90%;
	margin-top: 40px;
}
.imageholder{
    margin-left: -45px;
/*	padding-top:100px;
*/}
input[type="radio"] {
  width: 20px;
  height: 13px;
  color: #fff;
  font: 12px/21px arial,sans-serif;
  background: url(http://csscheckbox.com/checkboxes/u/csscheckbox_12885bd05c74d1c9ff2f67e796378c16.png) no-repeat;
  margin-bottom:13px;
}
.col-md-12a {
width: 100%;
margin-left: 45px;
}

.holder{
	margin-top: -29px;
    margin-left: 350px;
}


	






}
