body{
	background:#F0F0F0;
}

#logo {
	height: 40px;
	width: 136px;
	background-image: url(../images/Scenario1-1.png);
	background-size:136px 40px;
	background-repeat:no-repeat;

	
}

.navbar {
	min-height:80px !important;
}
.navbar-right{
	margin-top:20px !important;
}
.navbar-default .navbar-right > li > a{
	color: green;
}
.navbar {
background-color:#fff;
}
.form-container{
background-color:#fff;
}
/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #F0F0F0;
  
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
  background-color:#FFF;
  width:80%;
}
body > .nopadding {
  padding: 10px 35px 0;
  background-color:#FFF;
  width:80%;
}

body > .trans {
  padding: 10px 15px 0;
  background-color:#F0F0F0;
  width:80%;
}

body > .containertransparent {
  padding: 60px 15px 0;
  width:80%;
}
.container .text-muted {
  margin: 20px 0;
	
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align:center;
}
.show-grid [class^=col-] {
/*padding-top: 10px;
padding-bottom: 10px;*/
background-color: #C3C !important;
background-color: #FFF !important;
border: 1px solid #ddd !important;
border: 1px solid rgba(86,61,124,.2);
}
.col-md-2
{
padding-left:0px;	
	}
	
hr { 
 
border-bottom: 1px dotted #ccc; 
width:100%;
margin-top: 0px;
margin-bottom: 0px;

}	
.padlft9 { padding-left: 9px; }
.certifidCol { color: #f37547 !important; }
.fBold { font-weight: bold; }
.f20{ font-size: 20px !important;}
.tbl-cell { display: table-cell; }

/* */

@media (min-width: 768px) and (max-width: 990px) {
	
body > .container {
  padding: 60px 15px 0;
  background-color:#FFF;
  width:900px;
}	
body > .containertransparent {
  padding: 60px 15px 0;
  width:900px;
}
#logo {
	height: 80px;
	width: 273px;
	background-image: url(../images/Scenario1-1.png);
	background-size:273px 80px;
	background-repeat: no-repeat;
	
}	


.navbar {
	min-height:80px !important;
}



.navbar-right{
	margin-top:20px !important;
}

.navbar-default .navbar-right > li > a{
	color: green;
}


.form-head{
	border-bottom:1px dashed #000;
	margin-bottom:15px;
	font-weight:bold;
	font-size:18px;
}

hr { 
height: 0; 
border-bottom: 2px dotted #000; 
width:100%;


}
.padlft9 { padding-left: 9px; }
.certifidCol { color: #f37547 !important; }
.fBold { font-weight: bold; }
.f20{ font-size: 20px !important;}
.tbl-cell { display: table-cell; }




}
.form-container {
background-color: #fff;
}

.col-md-1 {
width: 8.333333333333332%;
padding-top: 15px;
}
.col-md-3 {
width: 24%;
background-color:#FFF;
padding: 10px 10px 10px 10px;
}

.col-md-9 {
background-color:#FFF;
padding: 10px 5px 5px 0px;
}

.col-md-offset-1 {
margin-left: 4.333333333333332%;
}
.col-md-8 {
width: 66.66666666666666%;
background-color:#FFF;
padding: 10px 10px 10px 15px;
}
.col-md-4 {
width: 31.91%;
background-color:#FFF;
padding: 10px 10px 10px 10px;
margin-left:14px;
}
.col-md-2 {
width: 15.666666666666664%;
margin-left: 4.666px;
}
body {
color: #000;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
direction: ltr;
}
.largefont { 
  color: #a09b9b; 
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  font-size: 14pt; 
  font-weight: 300;
  text-align: right;
  padding-right: 10px;
  display:block;
}
.hugefont { 
  color: #000; 
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  font-size: 20pt; 
  font-weight: 300;
  display:block;
}
.buttongreenfont{
 color:#4fbe94;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 font-size: 8pt; 
}
.greenfont{
 color:#4fbe94;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 font-size: 10pt; 
}
.blackfont{
 color:#000;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 font-size: 13px;
direction: ltr; 
}

.blackfontbig{
 color:#000;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 font-size: 14pt; 
 font-weight:lighter;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
.greyfont{
 color:#666;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 font-size: 8pt; 
 padding-top:3px;
}
.greyfontbig{
 color:#a09b9b;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 font-size: 10pt; 
 padding-top:3px;
 border-bottom:1px;
}
.redfont{
 color:#F00;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 font-size: 8pt; 
}
span .myalert
{
	color:#F00 !important;
	font-family: "Trebuchet MS", Helvetica, sans-serif !important;
	font-size: 8pt; 
}
.hyperlinkfont{
 color:#4fbe94;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 font-size: 8pt; 
}
.white, .white a {
  color: #4fbe94;
}
.blackfontnormal{
 color:#666;
font-family: 'Open Sans', sans-serif;
 font-size: 9pt; 
}
.timeline:before {
       content: "";
       position: absolute;
       top: 0px;
       bottom: 0px;
       width: 4px !important;
       background: none repeat scroll 0% 0% rgb(226, 226, 226) !important;
       left: -19% !important;
       margin-left: -11px !important;
}
.headertimeline3:before {
       content: "";
       position: absolute;
       top: 0px;
       bottom: 0px;
       width: 1px !important;
       background: none repeat scroll 0% 0% rgb(226, 226, 226) !important;
       left: 90% !important;
       margin-left: -11px !important;
}
.headertimeline:before {
       content: "";
       position: absolute;
       top: 0px;
       bottom: 0px;
       width: 1px !important;
       background: none repeat scroll 0% 0% rgb(226, 226, 226) !important;
       left: 5% !important;
       margin-left: -11px !important;
}
.timeimage:before {
	   background-image:url(../images/timelineul.png);
	   background:url(../images/timelineul.png);
	   position: absolute;
       top: 0px;
       bottom: 0px;
       width: 4px !important;
       background: none repeat scroll 0% 0% rgb(226, 226, 226) !important;
       left: -19% !important;
       margin-left: -11px !important;
}

.paddingtop{
padding-top:10px;
}
.padTopBtm10 {
padding: 10px 0px 10px 0px !important;
}
.border-bottom-lgtGrey {
border-bottom: 1px solid #E2E2E2 !important;
}