body{
	background:#F0F0F0;
}
.yellow{
background:yellow;
height:200px;
}
.green{

}

.profile_photo{
padding-top:10px;
}
.profile_head_info{
height:200px;
}
.profile_head_name{
/*height:100px;
border-bottom:1px dashed black !important;*/

}

.badge_desc{
height:50px;
}
.badge_img{
	padding-bottom:10px;
}
.jobs{

}
.certified_badge{

}

.my_circuits{

padding-left: 30%;
padding-top: 11%;
}
.hugefont { 
  color: #000; 
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  font-size: 20pt; 
  font-weight: 100;
  display:block;
}
.blackfont{
 color:#000;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 font-size: 13px;
direction: ltr; 
}
.blackfontbig{
 color:#000;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 font-size: 14pt; 
 font-weight:lighter;
}
hr { 
border-bottom: 1px dotted #ccc; 
width:100%;
margin-top: 0px;
margin-bottom: 0px;
}	
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
.paddingtop{
padding-top:10px;
}
.col-lg-9{
background-color:#FFF;
}
.greenfont{
 color:#4fbe94;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 font-size: 10pt; 
}
.hyperlinkfont{
 color:#4fbe94;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 font-size: 8pt; 
}
.greyfont{
 color:#666;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 font-size: 8pt; 
 padding-top:3px;
}
.largefont { 
  color: #a09b9b; 
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  font-size: 14pt; 
  font-weight: 300;
}
.white, .white a {
  color: #4fbe94;
}
.timeline:before {
       content: "";
       position: absolute;
       top: 0px;
       bottom: 0px;
       width: 4px !important;
       background: none repeat scroll 0% 0% rgb(226, 226, 226) !important;
       left: -19% !important;
       margin-left: -11px !important;
}
.col-lg-3 {
width: 23%;
background-color: #FFF;
margin-left: 12px;
}
.padlft9 { padding-left: 9px; }
.certifidCol { color: #f37547 !important; }
.fBold { font-weight: bold; }
.f20{ font-size: 20px !important;}
.tbl-cell { display: table-cell; }


@media (min-width: 768px) and (max-width: 990px) {
.blackfontbig{
 color:#000;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 font-size: 10pt; 
 font-weight:lighter;
}
.hugefont { 
  color: #000; 
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  font-size: 12pt; 
  font-weight: 100;
  display:block;
}
.paddingtop{

}
.profile_head_info {
height: 0px;
}
}
@media (min-width: 328px) and (max-width: 768px) {
.blackfontbig{
 color:#000;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 font-size: 8pt; 
 font-weight:lighter;
}
.hugefont { 
  color: #000; 
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  font-size: 12pt; 
  font-weight: 100;
  display:block;
}
.paddingtop{

}
.col-lg-3 {
width: 100%;
background-color: #FFF;
margin-left: 0px;
}
.col-lg-12background{
padding-left:0px !important;
padding-right:0px !important;
}
.col-md-3{
margin-right:0%;
margin-top:10%;
}
.hr{
border-bottom: 1px dotted #000; 
}
.lineborder{
border-bottom: 0px dotted #000; 
}
.paddingbottomsmall{
border-bottom: 1px dotted #000; 
padding-bottom:8px;
}
.profile_head_info {
height: 0px;
}
.col-md-1editbutton{
margin-top: -39px;
margin-left: 37%;
}
}
@media (min-width: 320px) and (max-width: 768px) {
.col-md-3responsive{
margin-right:-30%;
margin-top:-30%;
}
.hr{
border-bottom: 1px dotted #000; 
}
.lineborder{
border-bottom: 1px dotted #000; 
}	
.blackfontbig{
 color:#000;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 font-size: 8pt; 
 font-weight:lighter;
}
.hugefont { 
  color: #000; 
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  font-size: 12pt; 
  font-weight: 100;
  display:block;
}
.my_circuits {
padding-left: 0%;
padding-top: 0%;
}
.profile_head_info {
height: 0px;
}
.col-md-1editbutton{
margin-top: -39px;
margin-left: 37%;
}
.breaker{
display:none;
}
	
}
@media (min-width: 768px) and (max-width: 1024px) {
.col-md-1editbutton{
margin-top: -39px;
margin-left: 37%;
}
.lineborder{
border-bottom: 1px dotted #000; 
}
}
@media (min-width: 360px) and (max-width: 640px) {
.col-md-1editbutton{
margin-top: -39px;
margin-left: 70%;
}
}
